/* #Basic Styles
================================================== */
body,
html {
	font-family: 'Merriweather', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #747474;
	background: #fff;
	font-size: 13px;
	font-weight: 300;
	line-height: 2;
}
.section-heading {
	margin-top: 50px;
	margin-bottom: 30px;
	
}
.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}
.dark {
	background: #fff;
}

/* #Typography
================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #363636;
}
h1 {
	color: #363636;
	font-family: 'Oswald';
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
}
p {
	font-family: , sans-serif;
}
strong {
	color: #b88b4c;
}
color {
	color: #b88b4c;
}
sup {
	font-size: .6em;
}
ul,
ol {
	list-style: none;
	padding: 0;
}
.caption {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.section-title {
	padding: 30px 0px;
}
.section-title h2 {
	margin-bottom: 26px;
}
.title {
	text-transform: uppercase;
	color: #b88b4c;
	letter-spacing: 1px;
	font-weight: 500;
}

/* #Button
================================================== */
.btn {
	margin-top: 20px;
	margin-bottom: 20px;
	background: #b88b4c;
	border: none;
	border-radius: 50px;
	color: #fff;
	font-size: 12px !important;
	font-weight: 500;
	transition: all 0.5s;
	text-transform: uppercase;
	padding-left: 35px;
	padding-right: 35px;
	letter-spacing: .5px;
}
.btn:hover,
.btn:focus {
	background: #8b6939;
	border: none;
	color: #fff;
}
.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* #Link
================================================== */
a:hover,
a:focus {
	text-decoration: none;
	color: #8b6939;
}
a {
	color: #b88b4c;
	transition: all 0.5s;
}

/* #Flexbox rules
================================================== */
.parent {
	height: 450px;
    display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
}
.child {
	width: 80%;
	overflow: hidden;
}

/* #Inner page styles
================================================== */
#inner-page {
	padding: 50px 0;
}
#inner-page p {
	margin: 20px 0;
}

/* #Hover zooming wrapper
================================================== */
.zoomimg {
	height: 450px;
	max-height: 450px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}
.zoomimg:hover {
	transform: scale(1.1)
}
.zoomimg-wrapper {
	overflow: hidden;
}

/* #Banner, Ribbon, & Badge
================================================== */
.banner {
	font-size: 11px;
	font-style: italic;
	padding: 5px 0;
	margin-top: 20px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}
.badge {
	background: #95713e;
}
.ribbon {
	font-size: 10px !important;
	/* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
	position: relative;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	text-align: center;
	margin: 0 0 3em;
	/* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before,
.ribbon:after {
	content: "";
	position: absolute;
	display: block;
	border: 1.2em solid #eaeaea;
	z-index: -1;
}
.ribbon:before {
	left: -2em;
	border-left-color: transparent;
}
.ribbon:after {
	right: -2em;
	border-right-color: transparent;
}
.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #804f7c transparent transparent transparent;
	bottom: -1em;
}
.ribbon .ribbon-content:before {
	left: 0;
	border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
	right: 0;
	border-width: 1em 1em 0 0;
}

/* #About, Food, Drink section images
================================================== */
.about {
	background-image: url('../img/about.jpg');
}
.food {
	background-image: url('../img/food.jpg');
}
.drink {
	background-image: url('../img/drink.jpg');
}



hr {
	height: 2px;
	width: 60px;
	position: relative;
	background: #b88b4c;
	border: 0;
	margin-bottom: 30px;
}

/* #Navigation
================================================== */
#menu {
	transition: all 0.3s;
	height: 50px;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-bottom: none;
}
.navbar {
	border: none;
	margin-bottom: 0;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	border: none;
}
.navbar .navbar-collapse {
	text-align: center;
}
.navbar-brand {
	width: 52px;
	padding: 10px;
	display: none;
}
.navbar-brand-2 {
	display: inline-block;
}
.navbar-brand-center {
	width: 100px;
	height: 52px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
}
#menu i.fa {
	color: #b88b4c;
}
#menu.navbar-default .navbar-nav > li > a {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	color: #b88b4c;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}
#menu.navbar-default.inner .navbar-nav > li > a {
	padding: 14px 10px;
	font-size: 14px;
}
.navbar-default {
	background-color: transparent;
	border: none;
}
.navbar-default,
.navbar-collapse {
	border: none;
}
.on {
	background: #202020 !important;
	border: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #FFF !important;
	background-color: transparent;
}
.nav {
	-webkit-backface-visibility: hidden;
}
.navbar-toggle {
	border: none;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #b88b4c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #fff;
	border: none;
}

/* #Menu hover
================================================== */
.hvr-overline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: relative;
	overflow: hidden;
}
.hvr-overline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	top: 0;
	background: #fff;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-overline-from-center:hover:before,
.hvr-overline-from-center:focus:before,
.hvr-overline-from-center:active:before {
	left: 0;
	right: 0;
}


/* #Hero wrapper
================================================== */
.hero-wrapper {
	background: #242424;
	background-position: center;
	background-attachment: fixed;
}
.hero-wrapper p {
	font-family: 'Merriweather';
	text-align: center;
	color: #eaeaea;
	font-weight: 300;
}
.hero-content .arrow-down {
	margin: 30px 0;
}
.hero-wrapper h2 {
	color: #fff;
}
.hero-wrapper img {
	height: 350px;
	margin: 0 auto;
	padding-bottom: 20px;
}
.hero-content {
	padding-top: 150px;
	padding-bottom: 80px;
	text-align: center;
}
.hero-content ul {
	list-style: none;
	padding: 0;
	color: #fff;
}
.hero-content p {
	font-family: 'Montserrat', sans-serif;
}
.location {
	margin-right: 5px;
	font-size: 12px;
}
.hero-content .btn {
	font-size: 12px;
	padding: 5px 20px;
	text-transform: none;
}
.hero-content .tagline {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 2;
}
.info-content {
	padding: 0;
}
.info {
	position: relative;
	height: 30px;
	border-radius: 20px;
	color: #000;
	background: #b88b4c;
	margin: 0 50px;
	margin-top: 50px;
}
.info i {
	position: absolute;
	right: 10px;
	bottom: 5px;
	width: 20px;
	height: 20px;
	line-height: 21px;
	border-radius: 50%;
}

/* #About section
================================================== */
#about-section {
	background: #b88b4c;
}
#about-section p {
	color: #363636;
}
#about-section hr {
	background: #363636;
}
#about-section h4 {
	color: #81969c;
	font-size: 20px;
}
#about-section .btn {
	border: 1px solid #363636;
	color: #363636;
}
#about-section .btn:hover {
	border: 1px solid #363636;
	background: #363636;
	color: #fff;
}
#about-section li {
	margin-bottom: 6px;
	list-style: none;
	padding: 0;
}
#about-section li:before {
	content: "?";
	color: #f3ca27;
	padding-right: 5px;
}
#about-section i {
	margin-right: 5px;
}

/* #Notification
================================================== */
#notif-section {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: rgba(184, 139, 76, .9);
	padding: 10px;
	z-index: 99999;
	transition: all ease .3s;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%)
}
#notif-section p {
	font-size: 14px;
	font-style: italic;
	padding: 10px;
	margin: 0;
	color: #fff;
	transition: all 0.5s;
}
.scrolled {
	-webkit-transform: translateY(0) !important;
	-ms-transform: translateY(0) !important;
	transform: translateY(0) !important;
}

/* #Event section
================================================== */
#event-section {
	padding: 0 0 30px 0;
	background: #202020;
		background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: #f3f3f3;
}
#event-section {
	padding-top: 30px;
	padding-bottom: 80px;
}
#event-section h1 {
	color: #fff;
}
#event-section h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #fff;
}
#event-section .event-item .btn {
	margin-top: 20px;
}
#event-section .item h3 {
	color: #1cb2df;
}
#event-section li {
	text-decoration: none;
}
#event-section i {
	color: #fff;
}
#event-section h2 {
	font-size: 21px;
}
#event-section .event-date,
.event-title {
	display: inline-block;
	margin-bottom: 20px;
}
#event-section .event-date {
	text-align: center;
	margin-right: 15px;
}
#event-section .event-title {
	text-align: left;
	margin-left: 15px;
	line-height: 10px;
}
#event-section .btn {
	margin-bottom: 20px;
}
.event-img {
	position: relative;
	background-position: right;
	width: 100%;
	height: 450px;
}
.event-img p {
	position: absolute;
	width: 80%;
	right: 0;
	bottom: 0;
	margin-bottom: 0;
	background: rgba(0, 0, 0, .8);
	text-align: left;
	padding: 20px 20px;
}
/* Change event image here */
.event1 {
	background: url(../img/events/matt-fred.png);
	background-size: cover;
}
.event2 {
	background: url(../img/events/jodie-marie-shot.jpg);
	background-size: cover;
}
.event3 {
	background: url(../img/events/garethandbella.jpg);
	background-size: cover;
}
.event4 {
	background: url(../img/events/wine-tasting.jpg);
	background-size: cover;
}
.event5 {
	background: url(../img/events/gin.jpg);
	background-size: cover;
}
/* ======================= */
.event-text {
	font-family: 'Merriweather', sans-serif;
	color: #fff;
}
.carousel-inner {
	background: #303030;
}
.carousel-control {
	background: #202020;
	background-image: #202020;
	line-height: 1.5;
}
.carousel-control {
	margin: 0 0;
	height: 30px;
	width: 30px;
	top: 50%;
	z-index: 5;
	opacity: .8;
}

/* #Supplier section
================================================== */
#supplier-section {
	padding-top: 30px;
	padding-bottom: 80px;
}
.thumbnail {
	position: relative;
	padding: 0;
	border: none;
	border-radius: 0;
}
.thumbnail p {
	background: #303030;
	bottom: 0;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 auto;
	width: 100%;
	padding: 20px 20px;
	text-align: center !important;
	letter-spacing: 3px;
}


/* #Map section
================================================== */
#map-section {
	background: #404040;
	color: #eaeaea;
	text-align: left;
	height: 400px;
}
#map-section hr {
	background: #1cb2df;
}
#map-section h3 {
	font-size: 20px;
	font-weight: 400;
}
#map-section .section-title h3 {
	padding: 0 200px;
}
#map-section .fa {
	color: #fff;
}
#map-section .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 2px solid #6dcff6;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#map-section .form-control:focus {
	border-color: #c4367f;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#map-section .social {
	margin-top: 60px;
}
#map-section .social ul li {
	display: inline-block;
}
.btn .fa {
	color: #fff;
	transition: all 0.5s;
}
#map-section .text-danger {
	font-size: 12px;
	color: #c00069;
	text-align: left;
}
#map-section .social i.fa:hover {
	color: #032731;
}

/* #Sign-up section
================================================== */
#signup-section {
	padding: 30px 0 40px 0 !important;
}
#signup-section p, h4 {
	color: #363636;
	margin-bottom: 20px;
}
#signup-section .form-inline {
	margin-top: 20px;
}
#signup-section {
	background: #b88b4c;
	padding: 20px 0;
}
#signup-section .btn {
	height: 36px;
	padding: 0 12px;
	border-radius: 0;
	margin: 0;
	border: 1px solid #363636;
	background: #363636;
	font-family: 'Montserrat', sans-serif;
}
#signup-section .btn:hover {
	border: 1px solid #363636;
	background: #363636;
	color: #fff;
}
.form-control {
	height: 36px;
	padding: 0 50px;
	border-radius: 0;
	box-shadow: none;
	border: none;
	font-family: 'Montserrat';
	text-align: center;
}

/* #Footer section
================================================== */
#footer {
	width: 100%;
	background: #242424;
	background-attachment: fixed;
	background-position: center;
	color: #eaeaea;
	text-align: left;
	padding: 80px 0;
}
#footer, ul {
	font-family: 'Montserrat', sans-serif;
}
#footer .title {
	margin-bottom: 15px;
}
#footer .address {
	text-align: center !important;
}
#footer .arrow-down {
	margin: 30px 0;
	display: none;
}
.footer-brand {
	width: 96px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.copyright {
	font-size: 10px;
	text-align: center;
}
.socials {
	color: #b4bbc2;
	text-align: left;
}
.contact {
	text-align: left;
}
.contact a {
	color: #FFF;
}
.socials i {
	color: #b88b4c;
	font-size: 12px;
	margin-right: 5px;
}
.socials i:hover {
	color: #FFF;
}
.contact-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* #Back to top
================================================== */
#footer2 {
	background: #202020;
	letter-spacing: 1px;
	padding: 20px;
	font-size: 10px;
	text-align: right;
}
#footer2 a {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

/* #Go to top
================================================== */
.go-top {
	z-index: 200;
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 50px;
	height: 50px;
	background: #b88b4c;
	border-radius: 100%;
	transition: all 0.5s;
	text-align: center;
	line-height: 4em;
	visibility: hidden;
}
.go-top i {
	color: #fff;
}
.go-top:hover {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	opacity: 1;
}
.go-down {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -15px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	transition: all 0.5s;
	text-align: center;
	line-height: 2.2em;
}
.go-down i {
	color: #fff;
}


/* #Responsive
================================================== */
@media (max-width: 800px) {
	#menu.navbar-default {
		height: auto;
		padding: 0 10px;
	}
	.navbar-collapse {
		height: auto;
	}
	#socials {
		text-align: center;
	}
	#footer {
		text-align: center;
	}
	#socials a {
		text-align: center;
		padding: 10px 0 10px 0;
	}
	.socials a {
		color: #fff;
		text-align: center;
		padding: 10px 0 10px 0;
	}
	.contact {
		text-align: center;
	}
	.navbar .navbar-default,
	.navbar-collapse {
		text-align: center;
	}
	.copyright {
		text-align: center;
		padding-bottom: 20px;
	}
	.socials {
		padding-bottom: 30px;
		padding-top: 0;
		text-align: center;
	}
	.footer-brand {
		width: 96px;
		margin: 20px auto;
	}
	.map-section {
		padding-top: 30px;
	}
	#footer2 {
	text-align: center !important;
	}
}
@media (max-width: 480px) {
	.navbar-default .navbar-collapse {
		text-align: center;
		line-height: 3em;
	}
	.navbar {
		margin-bottom: 0;
	}
	.navbar i {
		display: inline-block;
	}
	.navbar-brand {
		display: inline-block;
	}
	.navbar-default .btn {
		display: inline-block;
	}
	.copyright {
		text-align: center;
	}
	.socials {
		text-align: center;
	}
	.footer-brand {
		margin: 20px auto;
	}
	.socials {
		padding-top: 0;
		color: #b4bbc2;
		text-align: center;
	}
	.contact {
		padding-top: 20px;
	}
	.event-img p {
		width: 100%;
		text-align: center;
	}
	.hero-wrapper .logo {
		height: 200px;
		margin: 0 auto;
	}
	.hero-content {
		padding: 60px 0 !important;
	}
	.hvr-overline-from-center:before {
		display: none;
	}
	.tagline {
		font-size: 18px !important;
	}
	.navbar {
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%)
	}
	#footer {
		padding: 50px 0;
	}
	#footer .arrow-down {
	display: inline-block;
	}
	#footer2 {
	text-align: center !important;
	padding: 50px 0;
	}
	.back-to-top {
		margin-top: 100px;
	}
	.carousel-control {
		margin-top: -80px;
	}
}