body,
html {
	font-family: 'Merriweather', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #747474;
	background: #fff;
	font-size: 13px;
	font-weight: 300;
	line-height: 2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #363636;
}
h1 {
	color: #363636;
	font-family: 'Oswald';
	text-transform: uppercase;
	font-weight: 300;
}
p {
	font-family: , sans-serif;
}
a {
	color: #b88b4c;
	transition: all 0.5s;
}
strong {
	color: #b88b4c;
}
sup {
	font-size: .6em;
}
a:hover,
a:focus {
	text-decoration: none;
	color: #8b6939;
}
.img-centered {
	margin: 0 auto;
}
ul,
ol {
	list-style: none;
	padding: 0;
}
blockquote {
}
.section-heading {
	margin-top: 50px;
	margin-bottom: 30px;
	
}
.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}
.zoomimg-wrapper {
	overflow: hidden;
}
.divider {
	display: inline-block;
	height: 100px;
}
.caption {
  text-align: center;
  font-size: 12px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#inner-page p {
	margin: 20px 0;
}
.zoomimg {
	height: 400px;
	max-height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s;
	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}
.zoomimg:hover {
	transform: scale(1.1)
}
#food-section .text-center {
	padding: 2em;
}
#drink-section .text-center {
	padding: 2em;
}
#about-section .text-center {
	padding: 4em;
}
.banner {
	font-size: 11px;
	font-style: italic;
	padding: 5px 0;
	margin-top: 20px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}
.badge {
	background: #95713e;
}
.about {
	background-image: url('../img/about.jpg');
}
.food {
	background-image: url('../img/food.jpg');
}
.drink {
	background-image: url('../img/drink.jpg');
}
.supplier {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}
.thumbnail {
	border-radius: 0;
	position: relative;
	padding: 0;
}
.thumbnail p {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
}
.overlay {
	background: rgba(184, 139, 76, .5) !important;
}
#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}
.section-title {
	padding: 30px 0px;
}
.section-title h2 {
	margin-bottom: 26px;
}
hr {
	height: 2px;
	width: 60px;
	position: relative;
	background: #b88b4c;
	border: 0;
	margin-bottom: 30px;
}
/* Navigation */
#menu {
	transition: all 0.3s;
	height: 50px;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-bottom: none;
}
.navbar {
	border: none;
	margin-bottom: 0;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	border: none;
}
.navbar .navbar-collapse {
	text-align: center;
}
.navbar-brand {
	width: 52px;
	padding: 10px;
	display: none;
}
.navbar-brand-2 {
	display: inline-block;
}
.navbar-brand-center {
	width: 100px;
	height: 52px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
}
#menu i.fa {
	color: #b88b4c;
}
#menu.navbar-default .navbar-nav > li > a {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	color: #b88b4c;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}
#menu.navbar-default.inner .navbar-nav > li > a {
	padding: 14px 10px;
	font-size: 14px;
}
.navbar-default {
	background-color: transparent;
	border: none;
}
.navbar-default,
.navbar-collapse {
	border: none;
}
.on {
	background: #363636 !important;
	border: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #b88b4c !important;
	background-color: transparent;
}
.nav {
	-webkit-backface-visibility: hidden;
}
.navbar-toggle {
	border: none;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #b88b4c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #fff;
	border: none;
}
/* hero-bg */
.hero-wrapper {
	background-position: center;
	background-attachment: fixed;
}
.hero-wrapper p {
	font-family: 'Merriweather';
	text-align: center;
	color: #eaeaea;
	font-weight: 300;
}
.hero-wrapper h2 {
	color: #fff;
}
.hero-wrapper img {
	height: 350px;
	margin: 0 auto;
	padding-bottom: 20px;
}
.hero-content {
	padding-top: 150px;
	padding-bottom: 80px;
	text-align: center;
}
.hero-content ul {
	list-style: none;
	padding: 0;
	color: #fff;
}
.hero-content p {
	padding: 0 30px;
	font-family: 'Montserrat', sans-serif;
}
.location {
	margin-right: 5px;
	font-size: 12px;
}
.hero-content .btn {
	font-size: 12px;
	padding: 5px 20px;
	text-transform: none;
}
.hero-content .tagline {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 1;
}
.info-content {
	padding: 0;
}
.info {
	position: relative;
	height: 30px;
	border-radius: 20px;
	color: #000;
	background: #b88b4c;
	margin: 0 50px;
	margin-top: 50px;
}
.info i {
	position: absolute;
	right: 10px;
	bottom: 5px;
	width: 20px;
	height: 20px;
	line-height: 21px;
	border-radius: 50%;
}
.intro-text {
	position: relative;
	text-align: left;
	padding-top: 150px;
	padding-bottom: 150px;
}
.intro-text H1 {
	font-size: 90px;
	color: #1cb2df;
	letter-spacing: -2px;
	line-height: 80px;
	padding-bottom: 50px;
}
.layer {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.btn-default {
	color: #294d57;
	font-family: 'Merriweather', sans-serif;
	font-weight: 300;
	background-color: #b88b4c;
	margin: 0 8px;
	transition: all 0.5s;
}
/* About Section */
#about-section {
	background: #b88b4c;
}
#about-section p {
	color: #363636;
}
#about-section hr {
	background: #363636;
}
#about-section h4 {
	color: #81969c;
	font-size: 20px;
}
#about-section .btn {
	border: 1px solid #363636;
	color: #363636;
}
#about-section .btn:hover {
	border: 1px solid #363636;
	background: #363636;
	color: #fff;
}
#about-section li {
	margin-bottom: 6px;
	list-style: none;
	padding: 0;
}
#about-section li:before {
	content: "?";
	color: #f3ca27;
	padding-right: 5px;
}
#about-section i {
	margin-right: 5px;
}
.demoFeed {
	list-style: none;
	min-height: 300px;
	overflow: hidden;
}
.demoFeed li {
	float: left;
	margin: 0 2px;
}
#notif-section {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: rgba(184, 139, 76, .9);
	padding: 10px;
	z-index: 99999;
	transition: all ease .3s;
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%)
}
#notif-section p {
	font-size: 14px;
	font-style: italic;
	padding: 10px;
	margin: 0;
	color: #fff;
	transition: all 0.5s;
}
.scrolled {
	-webkit-transform: translateY(0) !important;
	-ms-transform: translateY(0) !important;
	transform: translateY(0) !important;
}
/* Event Section */
#event-section {
	padding: 0 0 30px 0;
	background: #363636 url(../img/hero.jpg);
		background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: #f3f3f3;
}
#event-section h1 {
	color: #fff;
}
#event-section h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #fff;
}
#event-section .event-item .btn {
	margin-top: 20px;
}
#event-section .item h3 {
	color: #1cb2df;
}
#event-section li {
	text-decoration: none;
}
#event-section i {
	color: #fff;
}
#event-section h2 {
	font-size: 21px;
}
#event-section .event-date,
.event-title {
	display: inline-block;
	margin-bottom: 20px;
}
#event-section .event-date {
	text-align: center;
	margin-right: 15px;
}
#event-section .event-title {
	text-align: left;
	margin-left: 15px;
	line-height: 10px;
}
#event-section .btn {
	margin-bottom: 20px;
}
.event-img {
	position: relative;
	width: 100%;
	height: 400px;
}
.event-img p {
	position: absolute;
	width: 60%;
	right: 0;
	bottom: 0;
	margin-bottom: 0;
	background: rgba(0, 0, 0, .8);
	text-align: left;
	padding: 20px 20px;
}
/* Change event image here */
.event1 {
	background: url(../img/events/jazz.jpg);
	background-size: cover;
}
.event2 {
	background: url(../img/events/folk.jpg);
	background-size: cover;
}
.event3 {
	background: url(../img/events-bg.jpg);
	background-size: cover;
}
/* ======================= */
.event-text {
	font-family: 'Merriweather', sans-serif;
	color: #fff;
}
.carousel-inner {
	background: #222222;
	border-radius: 5px;
}
.carousel-control {
	background: transparent !important;
	line-height: 1.5;
}
.carousel-control {
	border-radius: 50%;
	border: 1px solid #fff;
	margin: 0 -50px;
	height: 30px;
	width: 30px;
	top: 50%;
	z-index: 5;
}
/* Map Section */
#map-section {
	padding: 0;
}
#map-section hr {
	background: #1cb2df;
}
#map-section h3 {
	font-size: 20px;
	font-weight: 400;
}
#map-section .section-title h3 {
	padding: 0 200px;
}
#map-section .fa {
	color: #fff;
}
label {
	font-size: 12px;
	font-weight: 400;
	float: left;
}
#map-section .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 2px solid #6dcff6;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#map-section .form-control:focus {
	border-color: #c4367f;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#map-section .social {
	margin-top: 60px;
}
#map-section .social ul li {
	display: inline-block;
}
.btn .fa {
	color: #fff;
	transition: all 0.5s;
}
#map-section .social i.fa:hover {
	color: #032731;
}

#signup-section {
	padding: 30px 0 40px 0 !important;
}
#signup-section p, h4 {
	color: #363636;
}
#signup-section .form-inline {
	margin-top: 20px;
}

.btn {
	margin-top: 20px;
	margin-bottom: 20px;
	background: #b88b4c;
	border: none;
	border-radius: 50px;
	color: #fff;
	font-size: 12px !important;
	font-weight: 500;
	transition: all 0.5s;
	text-transform: uppercase;
	padding-left: 35px;
	padding-right: 35px;
	letter-spacing: .5px;
}
.btn:hover,
.btn:focus {
	background: #8b6939;
	border: none;
	color: #fff;
}
#map-section .text-danger {
	font-size: 12px;
	color: #c00069;
	text-align: left;
}
.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#map-section .btn {
	width: 150px;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
	outline-offset: none;
}
.toggle1 {
	display: none;
}
/* Contact */
#map-section {
	background: #404040;
	color: #eaeaea;
	text-align: left;
	height: 300px;
}
/* Sign Up */
#signup-section {
	background: #b88b4c;
	padding: 20px 0;
}
#signup-section .btn {
	height: 36px;
	padding: 0 12px;
	border-radius: 0;
	margin: 0;
	border: 1px solid #363636;
	background: #363636;
	font-family: 'Montserrat', sans-serif;
}
#signup-section .btn:hover {
	border: 1px solid #363636;
	background: #363636;
	color: #fff;
}
.form-control {
	height: 36px;
	padding: 0 50px;
	border-radius: 0;
	box-shadow: none;
	border: none;
	font-family: 'Montserrat';
	text-align: center;
}

/* Footer */
#footer {
	padding: 50px 0 0 0;
	width: 100%;
	background: #363636 url(../img/hero.jpg);
	background-attachment: fixed;
	background-position: center;
	color: #eaeaea;
	text-align: left;
}
#footer, ul {
	font-family: 'Montserrat', sans-serif;
}
#footer .address {
	text-align: center !important;
}
.footer-brand {
	width: 64px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.copyright {
	font-size: 12px;
	text-align: right;
}
.socials {
	margin-top: 20px;
	color: #b4bbc2;
	text-align: center;
}
.contact {
	text-align: right;
}
.socials i {
	height: 30px;
	width: 30px;
	margin-left: 5px;
	margin-right: 5px;
	color: #b88b4c;
	padding: 8px;
	border: 1px solid #b88b4c;
	border-radius: 100%;
}
.socials i:hover {
	background: #b88b4c;
	color: #fff;
}
.award-logo {
	padding-top: 30px;
	padding-bottom: 50px;
}
.contact-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.hiring {
	z-index: 200;
	position: fixed;
	opacity: 0;
	top: 40%;
	left: 0;
	width: 87px;
	height: 125px;
	transition: all 0.5s;
}
.go-top {
	z-index: 200;
	position: fixed;
	bottom: 25px;
	right: 25px;
	width: 50px;
	height: 50px;
	background: #b88b4c;
	border-radius: 100%;
	transition: all 0.5s;
	text-align: center;
	line-height: 4em;
	visibility: hidden;
}
.go-top i {
	color: #fff;
}
.go-top:hover {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	opacity: 1;
}
.go-down {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -15px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	transition: all 0.5s;
	text-align: center;
	line-height: 2.2em;
}
.go-down i {
	color: #fff;
}
.signup {
	background: #b88b4c;
	z-index: 99999;
	position: fixed;
	top: 0;
	right: 0;
	width: 80px;
	height: 50px;
	text-align: center;
	padding: 14px 14px 14px 18px;
}
.signup i {
	color: #fff;
}
/* Divider */
.divider {
	width: 5px;
	height: auto;
	display: inline-block;
}

/* Divider */
.modal-footer {
	border: none;
}
.collapse {
	overflow: hidden;
}
element.style {
	display: none;
}
/* Responsive */
@media (max-width: 800px) {
	#menu.navbar-default {
		height: auto;
		padding: 0 10px;
	}
	.navbar-collapse {
		height: auto;
	}
	.intro-text {
		padding-top: 150px;
		padding-bottom: 50px;
	}
	label {
		float: none !important
	}
	.hover-bg .hover-text {
		padding: 12% 10%;
	}
	#socials {
		text-align: center;
	}
	#footer {
		text-align: center;
	}
	#socials a {
		text-align: center;
		padding: 10px 0 10px 0;
	}
	.socials a {
		color: #fff;
		text-align: center;
		padding: 10px 0 10px 0;
	}
	.contact {
		text-align: center;
	}
	#services-section .section-title h3 {
		padding: 0 20px;
		font-size: 18px;
		line-height: inherit;
	}
	#map-section .section-title h3 {
		padding: 0 20px;
		font-size: 18px;
		line-height: inherit;
	}
	#map-section .divider {
		display: block;
		height: 10px;
	}
	#services-section .row {
		padding-bottom: 50px;
	}
	.services-arrow,
	.services-arrow-right {
		display: none;
	}
	.services-icon,
	.services-icon-right {
		padding: 0px 0px;
		margin: 0 0;
	}
	.services-content,
	.services-content-right {
		padding: 20px 20px;
		text-align: center;
	}
	#team-section .item {
		padding: 0 0px;
	}
	.navbar .navbar-default,
	.navbar-collapse {
		text-align: center;
	}
	#div2 {
		margin: 50px auto;
		width: 250px;
		height: 250px;
	}
	#msgErreur > div {
		top: -50px;
		left: 100px;
		width: 180px;
		height: 180px;
	}
	.copyright {
		text-align: center;
	}
	.socials {
		padding-bottom: 50px;
		padding-top: 0;
		text-align: center;
	}
	.footer-brand {
		width: 72px;
		margin: 20px auto;
	}
	.map-section {
		padding-top: 30px;
	}
	#food-section .text-center {
		padding: 2em;
	}
	#drink-section .text-center {
		padding: 2em;
	}
	#about-section .text-center {
		padding: 2em;
	}
}
@media (max-width: 480px) {
	.navbar-default .navbar-collapse {
		text-align: center;
		line-height: 3em;
	}
	.navbar {
		margin-bottom: 0;
	}
	.navbar-brand {
		display: inline-block;
	}
	.navbar-default .btn {
		display: inline-block;
	}
	.intro-text {
		padding-top: 100px;
	}
	.intro-text p {
		font-size: 14px;
		line-height: inherit;
	}
	.intro-text H1 {
		font-size: 48px;
		line-height: 48px;
	}
	#div2 {
		margin: 100px auto;
		width: 250px;
		height: 250px;
	}
	#msgErreur > div {
		top: -50px;
		left: 80px;
		width: 180px;
		height: 180px;
	}
	.copyright {
		text-align: center;
	}
	.socials {
		text-align: center;
	}
	.footer-brand {
		margin: 20px auto;
	}
	.socials {
		padding-top: 0;
		color: #b4bbc2;
		text-align: center;
	}
	.contact {
		padding-top: 20px;
	}
	.event-img p {
		width: 100%;
		text-align: center;
	}
	.hero-wrapper .logo {
		height: 200px;
		margin: 0 auto;
	}
	.hero-content {
		padding: 60px 0 !important;
	}
	.hvr-overline-from-center:before {
		display: none;
	}
	.tagline {
		font-size: 16px !important;
	}
	.navbar {
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%)
	}
	.carousel-control {
	margin: 0 30px;
}
}
@media (min-width: 768px) {
	#supplier-section .container {
		width: 70%;
	}
	#event-section .container {
		width: 70%;
	}
}
.supplier-item .img {
	height: 300px !important;
}
.gm-style-iw * {
	display: block;
	width: 100%;
}
.gm-style-iw h4,
.gm-style-iw p {
	margin: 0;
	padding: 0;
}
.gm-style-iw a {
	color: #4272db;
}
#event-section {
	padding-top: 30px;
	padding-bottom: 80px;
}
#supplier-section {
	padding-top: 30px;
	padding-bottom: 80px;
}
/* Overline From Center */
.hvr-overline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: relative;
	overflow: hidden;
}
.hvr-overline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	top: 0;
	background: #fff;
	height: 2px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-overline-from-center:hover:before,
.hvr-overline-from-center:focus:before,
.hvr-overline-from-center:active:before {
	left: 0;
	right: 0;
}
.ribbon {
	font-size: 10px !important;
	/* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
	position: relative;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	text-align: center;
	margin: 0 0 3em;
	/* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before,
.ribbon:after {
	content: "";
	position: absolute;
	display: block;
	border: 1.2em solid #eaeaea;
	z-index: -1;
}
.ribbon:before {
	left: -2em;
	border-left-color: transparent;
}
.ribbon:after {
	right: -2em;
	border-right-color: transparent;
}
.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #804f7c transparent transparent transparent;
	bottom: -1em;
}
.ribbon .ribbon-content:before {
	left: 0;
	border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
	right: 0;
	border-width: 1em 1em 0 0;
}
.overlay {
	width: 100%;
	background: #000;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px 0;
}