body, html {
    font-family: 'Merriweather', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #363636;
    background: #fff;
    font-size: 13px;
    font-weight: 300;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
	font-weight: 300;
    text-transform: uppercase;
}
h4, h5 {
    font-family: 'Merriweather', sans-serif;
	font-weight: 400;
}
h2 {
    color: #363636;
	font-size: 36px;
    font-weight: 300;
    letter-spacing: 1px;
}
h3 {
	font-size: 21px;
    line-height: 30px;
	font-weight: 300;
}
h5 {
	font-weight: 300;
    font-size: 18px;
}
p {
	font-family: , sans-serif;
	font-size: 13px;
    line-height: 21px;
}
a {
	color: #5b777f;
	transition: all 0.5s;
}
strong {
    color: #b88b4c;
}
sup {
    font-size: .6em;
}
a:hover, a:focus {
	text-decoration: none;
	color: #f1c40f;
}
.img-centered {
	margin: 0 auto;
}
ul, ol {
	list-style: none;
}
.small {
    font-size: 14px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.text-center {
    padding: 10%;
}

.zoomimg-wrapper {
    overflow: hidden;
}

.divider {
	display: inline-block;
	height: 100px;
}

.zoomimg {
    height: 370px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}

.zoomimg:hover { transform:scale(1.1) }

.food {
    background-image: url('../img/cafe.jpg');
}

.drink {
    background-image: url('../img/restaurant.jpg');
}

.supplier {
	margin-bottom: 20px;
}

.supplier-item {
    background-position: center;
    background-size: cover;
    height: 300px;
    width: auto;
}

.supplier-item p {
    padding: 0 80px 0 80px;
}

.supplier1 {
    background-image: url('../img/suppliers/coaltown_coffee.jpg');
}

.supplier2 {
    background-image: url('../img/suppliers/lampeter_bakehouse.jpg');
}

.supplier3 {
    background-image: url('../img/gambar.jpg');
}

.supplier-item .overlay h5 {
    position: absolute;
    bottom: 10px;
    left: auto;
    text-align: center;
    vertical-align: bottom;
    background: #b88b4c;
    padding: 20px;
    color: #fff;
}

#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}
.section-title {
	padding: 30px 0px;
}
.section-title h2 {
	margin-bottom: 26px;
}
hr {
	height: 3px;
	width: 60px;
	position: relative;
	background: #b88b4c;
	border: 0;
	margin-bottom: 30px;
}
/* Navigation */
#menu {
	transition: all 0.3s;
    height: 50px;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
    border-bottom: 0px solid rgba(184, 139, 76, .5);
}
#menu a.navbar-brand {
	font-size: 22px;
	color: #d9e0e2;
	font-weight: 300;
	letter-spacing: 1px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#menu i.fa {
	color: #b88b4c;
}

#menu.navbar-default .navbar-nav > li > a  {
    display: inline-block;
    font-family: 'Merriweather', sans-serif;
	color: #b88b4c;
	font-size: 12px;
    font-weight: 700;
	letter-spacing: 1px;
    position: relative;
    padding-bottom: 2px;
}

#menu.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}

.navbar-default {
	background-color: transparent;
	border: none;
}
.navbar-default, .navbar-collapse {
    border: none;
}
.on {
	background: #363636 url(../img/noise.png) !important;
    border: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #b88b4c !important;
	background-color: transparent;
}
.nav {
   -webkit-backface-visibility: hidden;
}
.navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #b88b4c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #fff;
    border: none;
}

/* hero-bg */
.hero-wrapper {
    background: #363636 url(../img/noise.png);
    min-height: 100vh;
}
.hero-wrapper p {
    font-family: 'Merriweather';
    text-align: center;
	color: #eaeaea;
    font-weight: 300;
}
.hero-wrapper img {
    height: 250px;
    margin: 0 auto;
}
.hero-content {
    padding-top: 150px;
	padding-bottom: 100px;
}
.hero-content p {
    font-size: 12px;
    padding: 0 30px;
}
.hero-content i {
    color: #fff !important;
}
.hero-content .btn {
    font-size: 12px;
    padding: 5px 20px;
    text-transform: none;
}
.hero-content .tagline {
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 36px;
    font-family: 'Mr De Haviland', cursive;
}
.intro-text {
	position: relative;
    text-align: left;
	padding-top: 150px;
	padding-bottom: 150px;
}
.intro-text H1 {
	font-size: 90px;
	color: #1cb2df;
	letter-spacing: -2px;
    line-height: 80px;
    padding-bottom: 50px;
}
.layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn-default {
	color: #294d57;
	font-family: 'Merriweather', sans-serif;
    font-weight: 300;
	background-color: #f1c40f;
	margin: 0 8px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #c1a618;
}


#div2 { 
    margin: 200px 0 200px;
    width : 300px;
    height: 300px;
    background-image: url('../img/about_us_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#msgErreur {
    color:white;
    position:absolute;
    z-index:5;
}
#msgErreur > div {
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -60px;
    left: 200px;
    width : 250px;
    height : 250px;
    
}




/* Services Section */
#services-section {
	padding: 0px 0 0px 0;
}

#services-section p {
	font-size: 16px;
}
#services-section .section-title h3 {
    padding: 0 200px;
}
.space {
	margin-top: 40px;
}
#services-section i.fa {
	font-size: 40px;
	border: 0;
	width: 100px;
	height: 80px;
	padding: 22px 25px;
	background: #032934;
	margin-bottom: 6px;
	border-radius: 10%;
	color: #f3ca27;
	transition: all 0.5s;
}
#services-section .service:hover>i.fa {
	background: #0b3540;
}
.services-icon {
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: top;
    text-align: center;
    font-size: 25px;
    line-height: 90px;
    margin-left: 50px;
}
.services-icon-right {
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: top;
    text-align: center;
    font-size: 25px;
    line-height: 90px;
    margin-right: 50px;
}
.services-arrow {
    padding-left: 100px;
}
.services-arrow-right {
    padding-right: 100px;
}
.services-content {
    display: inline-block;
    margin-left: 0;
    text-align: left;
    padding-right: 100px;
}
.services-content-right {
    display: inline-block;
    margin-left: 0;
    text-align: right;
    padding-left: 100px;
}

/* About Section */
#about-section {
    background: #ededed url(../img/noise.png);
}
#about-section h4 {
	color: #81969c;
	font-size: 20px;
}
#about-section li {
	margin-bottom: 6px;
	list-style: none;
	padding: 0;
}
#about-section li:before {
	content: "?";
	color: #f3ca27;
	padding-right: 5px;
}

#about-section .btn {
    padding: 5px 20px;
    font-size: 10px !important;
}
#about-section i {
    margin-right: 5px;
}
#about-section .btn {
    color: #fff;
    background: #b88b4c;
    margin-right: 10px;
}

.demoFeed {
	list-style: none;
	min-height: 300px;
	overflow: hidden; }

	.demoFeed li {
		float: left;
		margin: 0 2px;
	}



/* Client Section */
#clients-section {
	padding: 80px 0;
}
#clients-section .item {
	padding: 0;
	margin: 15px;
	text-align: center;
}
img.img-circle.client-img {
	width: 150px;
	height: 150px;
	transition: all 0.5s;
}
#client-section .item {
    padding: 0 50px;
}

.client-ava {
    display: inline-block;
    width: 150px;
    height: 150px;
    vertical-align: top;
    text-align: center;
    font-size: 25px;
    line-height: 90px;
    margin-bottom: 20px;
}
.clients-logo-container {
    display: block;
    margin-top: 100px;
}
/* Team Section */
#team-section {
	padding: 80px 0;
}
#team-section .item {
	padding: 0;
	margin: 15px;
	text-align: center;
}
img.img-circle.team-img {
	width: 200px;
	height: 200px;
	transition: all 0.5s;
}
#team-section .thumbnail {
	background: transparent;
	border: 0;
}
#team-section .thumbnail .caption {
	padding: 9px;
	color: #1c424d;
}
#team-section i.fa {
	font-size: 16px;
	color: #979797;
	margin-top: 10px;
}
#team-section i.fa:hover {
	color: #c00069;
}
#team-section .item {
    padding: 0 50px;
}
#team-section .item h3 {
    margin-bottom: 0;
}
.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	-webkit-border-radius: 0;
	-moz-border-radius: 20px;
	border-radius: 50%;
	background: #42626b;
	transition: all 0.5s;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #f1c40f;
}
.owl-theme .owl-controls .owl-page.active span {
	background: #f1c40f;
}
/* Event Section */
#event-section {
    padding: 0 0 30px 0;
    background: #363636 url(../img/noise.png);
	color: #f3f3f3;
}
#event-section h2 {
	color: #fff;
}
#event-section .event-item .btn {
	margin-top: 20px;
}
#event-section .item h3 {
    color: #1cb2df;
}
#event-section li {
    text-decoration: none;
}

#event-section i {
    color: #fff;
}
#event-section h2 {
    font-size: 21px;
}
#event-section .event-date, .event-title {
    display: inline-block;
    margin-bottom: 20px;
}
#event-section .event-date {
    text-align: center;
    margin-right: 15px;
}
#event-section .event-title {
    text-align: left;
    margin-left: 15px;
    line-height: 10px;
}
#event-section .btn {
    margin-bottom: 20px;
}

.vertical-line {
    width: 1px;
    height: 40px;
    background: #fff;
    display: inline-block;
}
.event-img {
    position: relative;
    width: 100%;
    height: 400px;
}
.event-img p {
    position: absolute;
    width: 60%;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    background: rgba(0, 0 ,0, .8);
    text-align: left;
    padding: 20px 20px;
} 
.event1 {
    background: url(../img/events/jazz.jpg);
    background-size: cover;
}
.event2 {
    background: url(../img/events/folk.jpg);
    background-size: cover;
}
.event3 {
    background: url(../img/events-bg.jpg);
    background-size: cover;
}
.event-text {
	font-family: 'Merriweather', sans-serif;
    color: #fff;
}
.carousel-inner {
        background: #3d3d3d;
}
.carousel-control {
    background: transparent !important;
}
.carousel-control {
    height: 80px;
    width: 80px;
    top: 50%;
    z-index: 5;
}
.carousel-control i {
    padding: inherit;
}


/* Contact Section */
#contact-section {
	padding: 0;
}
#contact-section hr {
	background: #1cb2df;
}
#contact-section h3 {
	font-size: 20px;
	font-weight: 400;
}
#contact-section .section-title h3 {
    padding: 0 200px;
}
#contact-section form {
	padding: 50px 0;
}
#contact-section .fa {
	color: #fff;
}
label {
	font-size: 12px;
	font-weight: 400;
	float: left;
}

#contact-section .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 2px solid #6dcff6;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact-section .form-control:focus {
	border-color: #c4367f;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact-section .social {
	margin-top: 60px;
}
#contact-section .social ul li {
	display: inline-block;
}
.btn .fa {
	color: #fff;
	transition: all 0.5s;
}
#contact-section .social i.fa:hover {
	color: #032731;
}
.btn {
    margin-top: 20px;
    background: transparent;
    border: 1px solid #b88b4c;
    border-radius: 50px;
	color: #b88b4c;
	font-size: 12px !important;
    font-weight: 500;
	transition: all 0.5s;
    text-transform: uppercase;
    padding-left: 35px;
    padding-right: 35px;
    letter-spacing: .5px;
}
.btn:hover, #contact-section .btn:focus {
    background: #b88b4c;
    border: 1px solid #b88b4c;
	color: #fff;
}
#contact-section .text-danger {
    font-size: 12px;
	color: #c00069;
	text-align: left;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#contact-section .btn {
	width: 150px;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

.toggle1 {
    display: none;
}

/* Contact */
#contact-section {
	background: #404040;
	color: #eaeaea;
	text-align: left;
}

/* Footer */
#footer {
    padding: 50px 0 50px 0;
    width: 100%;
	background: 
        /* top, transparent red */ 
        linear-gradient(
          rgba(0, 0, 0, 0.9), 
          rgba(0, 0, 0, 0.9)
        ),
        /* bottom, image */
        url(../img/events-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
	color: #eaeaea;
	text-align: left;
}

.footer-brand {
    width: 64px;
    margin: 0 auto;
}

.copyright {
    font-size: 12px;
    text-align: right;
}

.socials {
    padding-top: 30px;
	color: #b4bbc2;
	text-align: center;
}

.contact {
	text-align: right;
}

.socials i {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    color: #b88b4c;
    padding: 8px;
    border: 1px solid #b88b4c;
    border-radius: 100%;
}
.socials i:hover {
    background: #b88b4c;
    color: #fff;
}
.award-logo {
    padding-top: 30px;
    padding-bottom: 50px;
}

.contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.hiring {
    z-index:200;
    position:fixed;
    opacity: 0;
    top:40%;
    left:0;
    width:87px;
    height:125px;
    transition: all 0.5s;
}

.go-top {
    z-index: 200;
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    background: #b88b4c;
    border-radius: 100%;
    transition: all 0.5s;
    text-align: center;
    line-height: 4em;
	visibility: hidden;

}

.go-top i {
    color: #fff;
}

.go-top:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    opacity: 1;
}

.go-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: all 0.5s;
    text-align: center;
    line-height: 2.2em;
}

.go-down i {
    color: #fff;
}
.signup {
    background: #b88b4c;
    z-index:99999;
    position:fixed;
    top:0;
    right:0;
    width:80px;
    height:50px;
    text-align: center;
    padding: 14px 14px 14px 18px;
}

.signup i {
    color: #fff;
}

/* Divider */
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

/* Divider */
.modal-footer {
    border: none;
}

.collapse {
    overflow: hidden;
}

element.style {
    display: none;
}

/* Responsive */

@media (max-width: 800px) {
#menu.navbar-default {
	background-color: #363636;
    height: auto;
    padding: 0 10px;
}
.navbar-collapse {
    height: auto;
}
.intro-text {
	padding-top: 150px;
	padding-bottom: 50px;
}
label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 12% 10%;
}
#socials {
	text-align: center;
}
#footer {
	text-align: center;
}
#socials a {
    text-align: center;
    padding: 10px 0 10px 0;
}
.socials a {
    color: #fff;
    text-align: center;
    padding: 10px 0 10px 0;
}
.contact {
    text-align: center;
}
#services-section .section-title h3 {
    padding: 0 20px;
    font-size: 18px;
    line-height: inherit;
}
#contact-section .section-title h3 {
    padding: 0 20px;
    font-size: 18px;
    line-height: inherit;
}
#contact-section .divider {
    display: block;
    height: 10px;
}    
#services-section .row {
    padding-bottom: 50px;
}
.services-arrow, .services-arrow-right {
    display: none;
}
.services-icon, .services-icon-right {
    padding: 0px 0px;
    margin: 0 0;
}
.services-content, .services-content-right {
    padding: 20px 20px;
    text-align: center;
}
#team-section .item {
    padding: 0 0px;
}
    
.navbar .navbar-default, .navbar-collapse {
    text-align: center;
}
#about-section .text-center {
    padding: 50px;
}
#div2 { 
    margin: 50px auto;
    width : 250px;
    height: 250px;
}
#msgErreur > div {
    top: -50px;
    left: 100px;
    width : 180px;
    height : 180px;
   
}
.copyright {
    text-align: center;
}
.socials {
    padding-bottom: 50px;
    padding-top: 0;
    text-align: center;
}
.footer-brand {
    width: 52px;
    margin: 30px auto;
}
}
#supplier-section {
    padding: 0 20px 20px 20px;
}
#supplier-section p {
    padding: 0 20px 20px 20px;
}
}

@media (max-width: 480px) {
.navbar-default .navbar-collapse {
text-align: center;
        line-height: 3em;
}
.navbar-default .btn {
    display: inline-block;
}
.navbar-brand {
    margin-top: -15px;
    width: auto;
    height: 70px;
}
.intro-text {
	padding-top: 100px;
}   
.intro-text p {
    font-size: 14px;
    line-height: inherit;
}
.intro-text H1 {
    font-size: 48px;
    line-height: 48px;
}
#div2 { 
    margin: 50px auto;
    width : 250px;
    height: 250px;
}
#msgErreur > div {
    top: -50px;
    left: 80px;
    width : 180px;
    height : 180px;
   
}
.copyright {
    text-align: center;
}
.socials {
    text-align: center;
}
.footer-brand {
    margin: 50px auto;
}
.socials {
    padding-top: 0;
	color: #b4bbc2;
	text-align: center;
}
}

.supplier-item .img {
    height: 300px !important;
}

    #map-box {
        height: 350px;
        width: 100%;
    }

    .gm-style-iw * {
        display: block;
        width: 100%;
    }
    .gm-style-iw h4, .gm-style-iw p {
        margin: 0;
        padding: 0;
    }
    .gm-style-iw a {
        color: #4272db;
    }

#event-section {
	padding-top: 30px;
	padding-bottom: 80px;
}

#supplier-section {
	padding-top: 30px;
	padding-bottom: 80px;
}